<h1><%= t('.title')%></h1>
<p class="text-info"><%= t('.description')%></p>

<% @tasks.each do |task| %>
	<div>
		<div class="inline lead"><%= link_to task.name, task_path(task)%></div>
		<div class="inline link"><%= link_to (t ('texts.show')), task_path(task) %></div>
		<div class="inline link"><%= link_to (t ('texts.edit')), edit_task_path(task) %></div>
		<div class="inline link"><%= link_to (t ('texts.destroy')), task_path(task), :data => {:confirm => (I18n.t ('are_you_sure'))}, :method => :delete %></div>
	</div>
<% end %>
<div class="link"><%= link_to (I18n.t ('tasks.new.title')), new_task_path %></div>
