<h1><%= I18n.t ('index_page')%></h1>
<p class="text-info"><%= @greeting %></p>

<% @tasks.each do |task| %>
	<div>
		<div class="inline lead"><%= link_to task.name, task_path(task)%></div>
		<div class="inline link"><%= link_to (I18n.t ('show')), task_path(task) %></div>		
		<div class="inline link"><%= link_to (I18n.t ('edit')), edit_task_path(task) %></div>		
	</div>
<% end %>
<div class="link"><%= link_to (I18n.t ('new_task_page')), new_task_path %></div>
